/* move to common */
h2 {
    font-family: var(--accent-font);
    color: var(--primari-title-color);
    font-size: 40px;
    font-weight: 700;
}

h4 {
    color: var(--accent-color);
    font-size: 12px;
    font-weight: 700;
}
/*--------------------*/
.section-about {
    margin-left: auto ;
    margin-right: auto;
    justify-content: space-around;
    margin-top: 50px;
    padding: 39px 47px;
    border-radius: 8px;
    background-color: var(--primari-white-color);
    box-shadow: 0 5px 11.2px 2.8px rgb(136 140 133 / 12%);

}
.img-about {
    border-radius: 6px;
}
.section-title {
    font-family: var(--accent-font);
    color: var(--primari-title-color);
    font-size: 40px;
    font-weight: 700;
}
.about-subheader {
    font-size: 18px;
    font-weight: 400;
    color: var(--primari-title-color);
    font-family: var(--main-font);
    

}



