.subtitle {
  color: #c00407;
  font-size: 12px;
}

.subtext {
  color: var(--accent-text-color);
}

.slide__add-to-cart {
  background-color: var(--icons-color-hover);
  border-style: none;
  border-radius: 2px;
  color: #fff;
  height: 47px;
  width: 127px;
  font-weight: 700;
}
.slide__add-to-cart:hover {
  background-color: #000;
}

.coffee-machine__name {
  color: var(--primari-title-color);
}

.coffee-machine__price {
  color: var(--accent-color);
}

.girl-with-cofee_image {
  width: 747px;
  height: 520px;
}
